# application
PORT=3333

# database
DATABASE_URL="postgresql://postgres:docker@localhost:5432/forum-api?schema=public"

# authentication
JWT_PRIVATE_KEY=Consultar README.md na seção "Gerando as chaves RSA (RS256)" para gerar as chaves privadas e públicas do JWT
JWT_PUBLIC_KEY=Consultar README.md na seção "Gerando as chaves RSA (RS256)" para gerar as chaves privadas e públicas do JWT
